.clients {
  width: 100%;
  padding: 6rem 0;
  margin: auto;
  text-align: center;
}
.clients .container .clients-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.clients .container .clients-container .client img {
  max-width: 200px;
}
@media screen and (min-width: 280px) and (max-width: 980px) {
  .clients {
    padding: 1rem;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
 }
  .clients .container .clients-container {
    flex-direction: column;
 }
  .clients .container .clients-container .client img {
    margin-bottom: 2.3rem;
    
 }
}
