.home {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}
.home  .content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  order: 1;
  width: 50%;
  padding: 2rem;
}
.home .image-container{
  order: 2;
  
  text-align: center;
  width: 50%;
  position: relative;
}
.home .image-container .image{
  
  width: 100%;
  margin: auto;
}
.home .image-container .image img{
  
  width: 60%;
  margin: auto;
  max-height: 500px;
}
.home  .image-container .ellipse-container{
  
  position: absolute;
  top:4%;
  left: 30%;
  z-index: 0;
}
.home  .image-container .ellipse-container .ellipse {
  z-index: -1;
  height: 15rem;
  width: 15rem;
  filter: blur(100px);
}
.home  .content .sub-title {
  color: var(--pink);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.home  .content .title {
  color: var(--accent-color1);
}
.home  .content .description {
  color: var(--accent-color3);
}
.home  .content button {
  color: var(--accent-color1);
  background-color: var(--background);
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--pink), var(--orange));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--background) inset;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.home  .content button:hover {
  box-shadow: none;
}

.home  .image-container .ellipse-container .pink {
  top: 40%;
  right: 40%;
  background-color: var(--pink);
}
.home  .image-container .ellipse-container .orange {
  bottom: 40%;
  left: 40%;
  background-color: var(--orange);
}
@media (max-width: 980px) {
    .home{
      flex-direction: column-reverse;
      justify-content: center;
      padding: 1rem;
  }
    .home .content{
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size:xx-large;
    }
    .home .content .title{
      font-size:60px;
      font-weight: bold;
    }
    .home .content .sub-title{
      font-size:40px;
      font-weight: bold;
    }
    .home .content .description{
      font-size:xx-large;
    }
    .home .image-container{
      width: 100%;
      margin: auto;
    }
    .home .image-container .image{
      width: 80%;
    }
    .home .home-buttons .home-button{
      font-size: xx-large;
      margin-top: 2rem;
      min-height: 100px;
    }
}
