.signUp .image img{
  width: 50% !important;
  margin: auto;
  margin-top: 20%;
}
.signUp a{
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width:960px) {
  .signUp .home-button{
      
  }
}
