footer {
  border-top: 0.1rem solid #3c3c3c5b;
  padding-top: 0rem;
  width: 100%;
  margin: auto;
  text-align: center;
}
footer .upper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: var(--accent-color3);
}
footer .upper .brand-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
footer .upper .brand-container p{
  color: #FC6A11;
}
footer .upper .brand-container ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
footer .upper .links {
  display: flex;
  gap: 8rem;
  text-align: center;
  margin: auto;
}
footer .upper .links .link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .upper .links .link h6 {
  color: var(--accent-color1);
  text-transform: uppercase;
  text-align: center;
}
footer .upper .links .link ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding-left: 0rem !important;
}
footer .lower {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 1rem;
}
footer .lower span {
  color: var(--accent-color3);
}
[data-theme="light"] footer .brand-container .brand img {
  filter: brightness(0);
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  footer {
    margin: 0;
    gap: 2rem;
    padding: 1rem 2rem;
    font-size: xx-large;
 }
  footer .upper {
    flex-direction: column;
    gap: 2rem;
 }
  footer .upper .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
 }
  footer .upper .links .link {
    gap: 1rem;
 }
  footer .lower {
    flex-direction: column;
    gap: 1rem;
 }
 footer .foot-head{
  font-size: 40px;
  margin-top: 2rem;
 }
}
